In [2]:
import pandas as pd

In [3]:
# Load 4-1 data
pretest1 = pd.read_csv('data/4-1_Pre-test.csv')
phi1 = pd.read_csv('data/4-1_Day1(phi).csv')
human1 = pd.read_csv('data/4-1_Day2(human).csv')
turbo1 = pd.read_csv('data/4-1_Day3(turbo).csv')
posttest1 = pd.read_csv('data/4-1_Post-test.csv')

# Load 4-2 data
pretest2 = pd.read_csv('data/4-2_Pre-test.csv')
turbo2 = pd.read_csv('data/4-2_Day1(turbo).csv')
phi2 = pd.read_csv('data/4-2_Day2(phi).csv')
human2 = pd.read_csv('data/4-2_Day3(human).csv')
posttest2 = pd.read_csv('data/4-2_Post-test.csv')

# Load 4-3 data
pretest3 = pd.read_csv('data/4-3_Pre-test.csv')
human3 = pd.read_csv('data/4-3_Day1(human).csv')
turbo3 = pd.read_csv('data/4-3_Day2(turbo).csv')
phi3 = pd.read_csv('data/4-3_Day3(phi).csv')
posttest3 = pd.read_csv('data/4-3_Post-test.csv')

# Data cleaning

In [4]:
# Remove empty columns
pretest1 = pretest1.dropna(axis=1, how='all')
phi1 = phi1.dropna(axis=1, how='all')
human1 = human1.dropna(axis=1, how='all')
turbo1 = turbo1.dropna(axis=1, how='all')
posttest1 = posttest1.dropna(axis=1, how='all')

pretest2 = pretest2.dropna(axis=1, how='all')
turbo2 = turbo2.dropna(axis=1, how='all')
phi2 = phi2.dropna(axis=1, how='all')
human2 = human2.dropna(axis=1, how='all')
posttest2 = posttest2.dropna(axis=1, how='all')

pretest3 = pretest3.dropna(axis=1, how='all')
human3 = human3.dropna(axis=1, how='all')
turbo3 = turbo3.dropna(axis=1, how='all')
phi3 = phi3.dropna(axis=1, how='all')
posttest3 = posttest3.dropna(axis=1, how='all')

In [5]:
# Check for missing data
print('4-1')
print(pretest1.isnull().sum())
print(phi1.isnull().sum())
print(human1.isnull().sum())
print(turbo1.isnull().sum())
print(posttest1.isnull().sum())

4-1
Student    0
Q1         1
Q2         0
Q3         0
Q4         0
Q5         0
Q6         0
Q7         0
Q8         0
Q9         0
Q10        0
Q11        0
dtype: int64
Student               0
Q1                    0
Q2                    0
Q3                    0
Nb correct answers    0
dtype: int64
Student               0
Q1                    0
Q2                    0
Q3                    0
Q4                    0
Nb correct answers    0
dtype: int64
Student               0
Q1                    0
Q2                    0
Q3                    0
Q4                    0
Nb correct answers    0
dtype: int64
Student    0
Q1         0
Q2         0
Q3         1
R1         0
R2         0
R3         0
dtype: int64

In [6]:
# Replace missing data with mean of column
pretest1 = pretest1.fillna(round(pretest1['Q1'].mean()))
pretest1.Q1
posttest1 = posttest1.fillna(round(posttest1['Q3'].mean()))
posttest1.Q3

0     2.0
1     3.0
2     2.0
3     5.0
4     4.0
5     3.0
6     2.0
7     2.0
8     3.0
9     4.0
10    4.0
11    2.0
12    3.0
13    1.0
Name: Q3, dtype: float64

In [7]:
# Check for missing data
print('4-2')
print(pretest2.isnull().sum())
print(turbo2.isnull().sum())
print(phi2.isnull().sum())
print(human2.isnull().sum())
print(posttest2.isnull().sum())

4-2
Student    0
Q1         0
Q2         0
Q3         0
Q4         1
Q5         0
Q6         0
Q7         0
Q8         0
Q9         0
Q10        0
Q11        0
dtype: int64
Student               0
Q1                    0
Q2                    0
Q3                    0
Nb correct answers    0
dtype: int64
Student               0
Q1                    0
Q2                    0
Q3                    0
Q4                    0
Nb correct answers    0
dtype: int64
Student               0
Q1                    1
Q2                    1
Q3                    1
Q4                    1
Nb correct answers    1
dtype: int64
Student      0
Q1(turbo)    0
Q2(phi)      0
Q3(human)    0
R1           0
R2           0
R3           0
dtype: int64

In [8]:
# Replace missing data with mean of column
pretest2 = pretest2.fillna(round(pretest2['Q4'].mean()))

# Remove Gabriella's data from 4-2 notebooks
turbo2 = turbo2.drop(turbo2[turbo2['Student'] == 'Gabriella'].index)
phi2 = phi2.drop(phi2[phi2['Student'] == 'Gabriella'].index)
human2 = human2.drop(human2[human2['Student'] == 'Gabriella'].index)

In [9]:
# Check for missing data
print('4-3')
print(pretest3.isnull().sum())
print(human3.isnull().sum())
print(turbo3.isnull().sum())
print(phi3.isnull().sum())
print(posttest3.isnull().sum())

4-3
Student    0
Q1         0
Q2         0
Q3         0
Q4         0
Q5         0
Q6         0
Q7         0
Q8         0
Q9         0
Q10        0
Q11        0
dtype: int64
Student               0
Q1                    0
Q2                    0
Q3                    0
Nb correct answers    0
dtype: int64
Student               0
Q1                    0
Q2                    0
Q3                    0
Q4                    1
Nb correct answers    0
dtype: int64
Student               0
Q1                    2
Q2                    2
Q3                    2
Q4                    5
Nb correct answers    2
dtype: int64
Student      0
Q1(human)    2
Q2(turbo)    1
Q3(phi)      0
R1           4
R2           5
R3           6
dtype: int64

In [10]:
# In 4-3 there are many missing values because not all the students were present for all the days. I will remove the data of students
# who were not present for all the days.

# Chilekwa, Daniel, Xiaanan, Emma, Gabriel and William were not present for all the days
# Remove Gabriel and William from Day 1
human3 = human3.drop(human3[human3['Student'] == 'Gabriel'].index).reset_index(drop=True)
human3 = human3.drop(human3[human3['Student'] == 'William'].index).reset_index(drop=True)

# Remove Gabriel, William, Chilekwa and Daniel from Day 2
turbo3 = turbo3.drop(turbo3[turbo3['Student'] == 'Gabriel'].index).reset_index(drop=True)
turbo3 = turbo3.drop(turbo3[turbo3['Student'] == 'William'].index).reset_index(drop=True)
turbo3 = turbo3.drop(turbo3[turbo3['Student'] == 'Chilekwa'].index).reset_index(drop=True)
turbo3 = turbo3.drop(turbo3[turbo3['Student'] == 'Daniel'].index).reset_index(drop=True)

# Remove Gabriel, William, Chilekwa, Daniel, Xiaanian and Emma from Day 3
phi3 = phi3.drop(phi3[phi3['Student'] == 'Gabriel'].index).reset_index(drop=True)
phi3 = phi3.drop(phi3[phi3['Student'] == 'William'].index).reset_index(drop=True)
phi3 = phi3.drop(phi3[phi3['Student'] == 'Chilekwa'].index).reset_index(drop=True)
phi3 = phi3.drop(phi3[phi3['Student'] == 'Daniel'].index).reset_index(drop=True)
phi3 = phi3.drop(phi3[phi3['Student'] == 'Xiaanian'].index).reset_index(drop=True)
phi3 = phi3.drop(phi3[phi3['Student'] == 'Emma'].index).reset_index(drop=True)

# Remove rows that contain at least one missing value from Post-test
posttest3 = posttest3.dropna()

In [11]:
print(human3.shape)
print(turbo3.shape)
print(phi3.shape)
print(posttest3.shape)
print(pretest3.shape)

(10, 5)
(10, 6)
(10, 6)
(10, 7)
(13, 12)

In [12]:
# Check if we got rid of all missing values

print('4-1')
print(pretest1.isnull().sum())
print(phi1.isnull().sum())
print(human1.isnull().sum())
print(turbo1.isnull().sum())
print(posttest1.isnull().sum())

print('4-2')
print(pretest2.isnull().sum())
print(turbo2.isnull().sum())
print(phi2.isnull().sum())
print(human2.isnull().sum())
print(posttest2.isnull().sum())

print('4-3')
print(pretest3.isnull().sum())
print(human3.isnull().sum())
print(turbo3.isnull().sum())
print(phi3.isnull().sum())
print(posttest3.isnull().sum())

4-1
Student    0
Q1         0
Q2         0
Q3         0
Q4         0
Q5         0
Q6         0
Q7         0
Q8         0
Q9         0
Q10        0
Q11        0
dtype: int64
Student               0
Q1                    0
Q2                    0
Q3                    0
Nb correct answers    0
dtype: int64
Student               0
Q1                    0
Q2                    0
Q3                    0
Q4                    0
Nb correct answers    0
dtype: int64
Student               0
Q1                    0
Q2                    0
Q3                    0
Q4                    0
Nb correct answers    0
dtype: int64
Student    0
Q1         0
Q2         0
Q3         0
R1         0
R2         0
R3         0
dtype: int64
4-2
Student    0
Q1         0
Q2         0
Q3         0
Q4         0
Q5         0
Q6         0
Q7         0
Q8         0
Q9         0
Q10        0
Q11        0
dtype: int64
Student               0
Q1                    0
Q2                    0
Q3                    0
Nb correct answers    0
dtype: int64
Student               0
Q1                    0
Q2                    0
Q3                    0
Q4                    0
Nb correct answers    0
dtype: int64
Student               0
Q1                    0
Q2                    0
Q3                    0
Q4                    0
Nb correct answers    0
dtype: int64
Student      0
Q1(turbo)    0
Q2(phi)      0
Q3(human)    0
R1           0
R2           0
R3           0
dtype: int64
4-3
Student    0
Q1         0
Q2         0
Q3         0
Q4         0
Q5         0
Q6         0
Q7         0
Q8         0
Q9         0
Q10        0
Q11        0
dtype: int64
Student               0
Q1                    0
Q2                    0
Q3                    0
Nb correct answers    0
dtype: int64
Student               0
Q1                    0
Q2                    0
Q3                    0
Q4                    0
Nb correct answers    0
dtype: int64
Student               0
Q1                    0
Q2                    0
Q3                    0
Q4                    0
Nb correct answers    0
dtype: int64
Student      0
Q1(human)    0
Q2(turbo)    0
Q3(phi)      0
R1           0
R2           0
R3           0
dtype: int64

We got rid of all the nan values, amazing !

In [ ]:
# Join 4-1 data into one dataframe
df1 = pd.merge(phi1, human1, on='Student', suffixes=('_phi', '_human'))
df1 = pd.merge(df1, turbo1, on='Student', suffixes=('', '_turbo'))
df1.rename(columns={"Q4":"Q4_human", 
                    "Nb correct answers": "Nb correct answers_turbo", 
                    "Q1": "Q1_turbo", 
                    "Q2": "Q2_turbo",
                    "Q3": "Q3_turbo"}, 
                    inplace=True)
print(df1)

      Student  Q1_phi  Q2_phi  Q3_phi  Nb correct answers_phi  Q1_human  \
0      Nikita       8       4       8                       3         9
1   Charlotte       8       7       9                       3         9
2       Kexin       8       9      10                       2        10
3        Nika       4       5      10                       3         8
4    Caroline       6       2       5                       3         8
5       Rania       5       2       5                       3        10
6       Clara       8       6       4                       3         8
7      Vaidik       8       6      10                       3        10
8       Jared      10      10      10                       3        10
9       Paulo       8       7       9                       3         9
10       Noel       8      10       7                       3        10
11       Theo      10      10      10                       2        10
12       Tina       9       7       8                       3         9
13     Spyros       8       1      10                       1        10

    Q2_human  Q3_human  Q4_human  Nb correct answers_human  Q1_turbo  \
0          1         8         9                         1         2
1          3         7        10                         2         8
2         10        10        10                         3         8
3          2         3         4                         3         1
4          3         7        10                         3         7
5          4         6        10                         2         1
6          3        10         4                         2         8
7          4         9        10                         2         6
8         10        10        10                         2        10
9          1         9         8                         3         8
10         8         9        10                         3         8
11        10        10         5                         1         6
12         8        10         5                         2        10
13         1        10        10                         2         5

    Q2_turbo  Q3_turbo  Q4_turbo  Nb correct answers_turbo
0          1         6         1                         2
1          5         6         5                         3
2          5         9         1                         1
3          2         4         5                         3
4          3         8         3                         1
5          1         6         1                         1
6          6         4         5                         3
7          3         5         2                         0
8          9         1         4                         1
9          1         7         4                         1
10         5         6         1                         2
11         8         7         3                         1
12         7         8         6                         1
13         7         7         1                         0

In [17]:
# Join 4-2 data into one dataframe
df2 = pd.merge(turbo2, phi2, on='Student', suffixes=('_turbo', '_phi'))
df2 = pd.merge(df2, human2, on='Student', suffixes=('', '_human'))
df2.rename(columns={"Q4":"Q4_phi", 
                    "Nb correct answers": "Nb correct answers_human", 
                    "Q1": "Q1_human", 
                    "Q2": "Q2_human",
                    "Q3": "Q3_human"}, 
                    inplace=True)
print(df2)

      Student  Q1_turbo  Q2_turbo  Q3_turbo  Nb correct answers_turbo  Q1_phi  \
0      Olivia         8         6         4                         0       8
1    Giovanni        10        10        10                         0      10
2       Aitor         6         2         4                         0       8
3      Albert         8         5         6                         0       8
4        Luke         6         2         3                         0       7
5       Ahmad         9         7         8                         0       8
6      Mikael        10        10        10                         0      10
7      Sophia         5         6         3                         0      10
8    Charlene         7         2         1                         0       6
9    Leornard         5         3         7                         0       4
10      Elena         7         5         4                         1       7
11  Miroslavo         1         3         5                         0      10
12      Xiana         7         3         8                         0       6
13      Louis         6         3         4                         0       6

    Q2_phi  Q3_phi  Q4_phi  Nb correct answers_phi  Q1_human  Q2_human  \
0        7       5       8                       2       8.0       5.0
1       10      10      10                       2      10.0      10.0
2        4       6      10                       2       3.0       1.0
3        8       8       9                       2       8.0       6.0
4        5       6      10                       2       3.0       1.0
5        7       9      10                       2       9.0       7.0
6        8       9       7                       2      10.0       8.0
7        6       8      10                       3      10.0       6.0
8        3       3       5                       0       7.0       2.0
9        3       8       9                       1       6.0       9.0
10       6       5      10                       2       4.0      10.0
11       8       5       7                       2       7.0       6.0
12       5       7       5                       0       6.0       5.0
13       5       6       8                       1       7.0       4.0

    Q3_human  Q4_human  Nb correct answers_human
0        6.0       6.0                       3.0
1       10.0      10.0                       2.0
2        3.0       1.0                       2.0
3        5.0       5.0                       2.0
4        2.0       1.0                       2.0
5        8.0      10.0                       1.0
6        9.0      10.0                       0.0
7        7.0       6.0                       2.0
8        3.0       5.0                       0.0
9        7.0       4.0                       1.0
10       1.0       1.0                       2.0
11       5.0       8.0                       2.0
12       6.0       5.0                       0.0
13       7.0       6.0                       1.0

In [18]:
# Join 4-3 data into one dataframe
df3 = pd.merge(human3, turbo3, on='Student', suffixes=('_human', '_turbo'))
df3 = pd.merge(df3, phi3, on='Student', suffixes=('', '_phi'))
df3.rename(columns={"Q4":"Q4_turbo", 
                    "Nb correct answers": "Nb correct answers_phi", 
                    "Q1": "Q1_phi", 
                    "Q2": "Q2_phi",
                    "Q3": "Q3_phi"}, 
                    inplace=True)
print(df3)

     Student  Q1_human  Q2_human  Q3_human  Nb correct answers_human  \
0    Lisette         9        10         9                         1
1   Theodora         7         5         6                         3
2   Muhammad         5         5         5                         1
3       Adam        10         8         9                         1
4   Florence         5         6        10                         1
5    Abigail         9        10        10                         1
6     Alison         8         6         9                         3
7      Peter         8         3         5                         2
8    Luciano         5         8         1                         2
9  Annabelle         7         5         4                         3

   Q1_turbo  Q2_turbo  Q3_turbo  Q4_turbo  Nb correct answers_turbo  Q1_phi  \
0        10         9        10      10.0                         1    10.0
1         7         5         6       8.0                         3     7.0
2         5         5         5       5.0                         2     5.0
3        10         7         8       9.0                         2    10.0
4         6         9        10      10.0                         3     3.0
5        10        10        10      10.0                         1    10.0
6         8         9         8       8.0                         3     6.0
7        10         3         4      10.0                         3     4.0
8         8         7        10       8.0                         3     5.0
9         8         4         7       2.0                         2     5.0

   Q2_phi  Q3_phi  Q4_phi  Nb correct answers_phi
0     9.0     3.0     5.0                     0.0
1     3.0     2.0     4.0                     2.0
2     5.0     5.0     5.0                     0.0
3     9.0     8.0     1.0                     1.0
4     4.0     5.0     5.0                     0.0
5    10.0    10.0    10.0                     2.0
6     7.0     5.0     4.0                     1.0
7     1.0    10.0     1.0                     0.0
8     1.0     5.0     2.0                     1.0
9     3.0     4.0     1.0                     0.0

In [20]:
# Save merged dataframes to csv
df1.to_csv('clean_data/4-1_merged.csv', index=False)
df2.to_csv('clean_data/4-2_merged.csv', index=False)
df3.to_csv('clean_data/4-3_merged.csv', index=False)

In [21]:
# Save cleaned pretest and posttest data to csv
pretest1.to_csv('clean_data/4-1_pretest.csv', index=False)
pretest2.to_csv('clean_data/4-2_pretest.csv', index=False)
pretest3.to_csv('clean_data/4-3_pretest.csv', index=False)

posttest1.to_csv('clean_data/4-1_posttest.csv', index=False)
posttest2.to_csv('clean_data/4-2_posttest.csv', index=False)
posttest3.to_csv('clean_data/4-3_posttest.csv', index=False)